@media (max-width:1400px) {
    .backgroung-dots {
        left: 100px;
        bottom: -50px;
    }
}
@media (max-width:1200px) {
    .backgroung-dots {
        left: 60px;
        bottom: -50px;
    }
}
@media (max-width:992px) {
    .dr-info {
        padding: 30px;
        padding-left: 50px;
    }
}
@media (max-width:768px) {
    .girl-img {
        padding-left: 50px;
    }
}
@media (max-width:500px) {
    body {
        padding: 0 10px;
    }
    .about-box {
        padding: 25px;
    }
    .service {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .works {
        padding-top: 50px;
    }
    .service-box.blue-grd {
        padding: 20px 25px;
    }
    .testimonials {
        padding-top: 50px;
    }
    .girl-img {
        padding-left: 20px;
    }
    .dr-info {
        padding: 20px;
    }
}